.icones{
    margin: 15px;
}
footer span{
    color: white;
    font-size: 25px;
}

footer{
    color: white;
    font-size: 15px;
    text-align: center;
}
.pied{
    background-image: url(../images/footer2.png);
    background-attachment: fixed;
    height: 500px;
}

body{
    margin: 0px;
    padding: 0px;
}
header .row {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
header h1, header h2 {
    text-align: center;
}
header h1 {
    font-family: 'Raleway', sans-serif;
}
header h2, header .slogan , header p{
    font-family: 'Dancing Script', cursive;
}

.bg1 {
    background-image: url(../images/6.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg2 {
    background-image: url(../images/5.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg3 {
    background-image: url(../images/4.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg4 {
    background-image: url(../images/7.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.carousel-fade .carousel-item{
    opacity: 0;
    transition-property: opacity;
    height: 90vh;
}
.carousel-caption{
    right: 20%;
    left: 20%;
    padding-bottom: 18%;
    
}
.ombre{
    text-shadow:0px 8px 10px black !important;
}
.a-centrer{
    text-align: center;
}
#presentation p {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.chambre{
    min-height: calc(100vh - 60px);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
.sans-padding{
    padding: 0px !important;
}
.padding-bas-0{
    padding-bottom: 0px !important;
}
.margin-top-10{
    margin-top: 10%;
}
.pres-ch{
    background-color: #f5f6fa;
    min-height: calc(100vh - 60px);
}
.welc{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 9em;
    font-weight: 700;
    color: #eceef3;
    line-height: 0.75;
    z-index: 0;
    margin-bottom: 3%;
}
.CHM{
    margin-top: 15%;
    margin-bottom: 10%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 6em;
    font-weight: 700;
    color: #fbfbfb; 
    line-height: 0.75;
    z-index: 0;
    text-align: center;
}
.text-pres{
    text-align: justify;
}
.titrePres{
    z-index: 1;
    position: relative;
    bottom: 11%;
}
.le-nomEm{
    margin-top: 2%;    
}
.NomEmail{
    margin-top: 3%;
    margin-bottom: 2%;
    margin-top: calc(5vh + 60px);
}
.le-message{
    margin-top: 2%;
    min-height: 350px;
}
.BSend{
    margin-top: 2%;
    margin-bottom: 5%;
}
.titrePres{
    margin-top: 7%;
    margin-bottom: 7%;
}

