
body{
    margin: 0px;
    padding: 0px;
}
header .row {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
header h1, header h2 {
    text-align: center;
}
header h1 {
    font-family: 'Raleway', sans-serif;
}
header h2, header .slogan , header p{
    font-family: 'Dancing Script', cursive;
}

.bg1 {
    background-image: url(../images/5.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg2 {
    background-image: url(../images/4.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg3 {
    background-image: url(../images/7.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg4 {
    background-image: url(../images/6.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.carousel-fade .carousel-item{
    opacity: 0;
    transition-property: opacity;
    height: 90vh;
}
.carousel-caption{
    right: 20%;
    left: 20%;
    padding-bottom: 25%;
    
}
.ombre{
    text-shadow:0px 8px 10px black !important;
}
.a-centrer{
    text-align: center;
}
#presentation p {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
#presentation p:hover {
    background-color: rgb(229, 238, 238);
    border-radius: 15px;
}
[class*="chambre1"] {
    min-height: calc(100vh - 60px);
    background-image: url(../images/Room/1.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    
}
[class*="chambre1"]{
    margin-right: 0px;
}
.pres-ch{
    background-color: #f5f6fa;
    min-height: calc(100vh - 60px);
}
.welc{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 136px;
    font-weight: 700;
    color: #f4f5fa;
    line-height: 0.75;
    z-index: 0;
}
.text-pres{
    text-align: justify;
}
[class*="titrePres"]{
    margin-top: 20%;
    margin-bottom: 10%;
}