body{
    margin: 0px;
    padding: 0px;
}
header .row {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
header h1, header h2 {
    text-align: center;
}
header h1 {
    font-family: 'Raleway', sans-serif;
    text-shadow: 4px 4px 4px #333
}
header h2, header .slogan , header p{
    font-family: 'Tangerine', cursive;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000;
    font-weight: 900;
}

.bg1 {
    background-image: url(../images/5.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg2 {
    background-image: url(../images/4.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg3 {
    background-image: url(../images/7.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg4 {
    background-image: url(../images/6.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg5 {
    background-image: url(../images/Slide-room/1.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg6 {
    background-image: url(../images/Slide-room/2.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg7 {
    background-image: url(../images/Slide-room/3.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.carousel-fade .carousel-item{
    opacity: 0;
    transition-property: opacity;
    height: 100vh;
}
.carousel-caption{
    right: 20%;
    left: 20%;
    padding-bottom: 25%;
}
.a-centrer{
    text-align: center;
}
#presentation p {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
#presentation p:hover {
    background-color: rgb(229, 238, 238);
    border-radius: 15px;
}
.fondChambre{
    background-image: url(../images/9.jpg);
    min-height: 100vh;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.avisClient{
    background-color: rgb(217, 238, 238);
    min-height: calc(100vh - 50px);
}
.avisClient span {
    font-size: 5rem;
    color: rgb(1, 89, 92);
}
.avisClient h4{
    font-size: 2rem;
    color: rgb(2, 112, 116);
}
.modif{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 136px;
    font-weight: 700;
    color: #f4f5fa;
    line-height: 0.75;
    z-index: 0;
}
.modif1{
    position: relative;
    font-size: 36px;
    font-weight: 400;
    color: #150f24;
    z-index: 1;
    margin-top: -20px;
}
.just{
    text-align: justify;
}


.categorie{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 2vh 0px;
    margin-bottom: 3%;
    margin-top: 5%;
    margin-bottom: 0.5%;
}
.taille{
    min-height: 20vh;
}


/**test zoom*/
.parent {
    border: 5px solid white;
   /* box-shadow: 5px 5px 7px darkgray;*/
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}

.parent:hover {
    box-shadow: 0px 0px 8px darkgray;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Images chambre */
.bg-1 {
    background-image: url(../images/Categorie/Luxe/1.png);
    min-height: 25vh;
}
.bg-2 {
    background-image: url(../images/Categorie/Luxe/2.png);
    min-height: 25vh;
}
.bg-3 {
    background-image: url(../images/Categorie/Luxe/3.png);
    min-height: 25vh;
}
.bg-4 {
    background-image: url(../images/Categorie/Luxe/4.png);
    min-height: 25vh;
}
.bg-5 {
    background-image: url(../images/Categorie/Enfant/1.png);
    min-height: 25vh;
}
.bg-6 {
    background-image: url(../images/Categorie/Enfant/2.png);
    min-height: 25vh;
}
.bg-7 {
    background-image: url(../images/Categorie/Enfant/3.png);
    min-height: 25vh;
}
.bg-8 {
    background-image: url(../images/Categorie/Enfant/4.png);
    min-height: 25vh;
}
.bg-9 {
    background-image: url(../images/Categorie/Gaming/1.png);
    min-height: 25vh;
}
.bg-10 {
    background-image: url(../images/Categorie/Gaming/2.png);
    min-height: 25vh;
}
.bg-11 {
    background-image: url(../images/Categorie/Gaming/3.png);
    min-height: 25vh;
}
.bg-12 {
    background-image: url(../images/Categorie/Gaming/4.png);
    min-height: 25vh;
}
.bg-13 {
    background-image: url(../images/Categorie/Connecte/1.png);
    min-height: 25vh;
}
.bg-14 {
    background-image: url(../images/Categorie/Connecte/2.png);
    min-height: 25vh;
}
.bg-15 {
    background-image: url(../images/Categorie/Connecte/3.png);
    min-height: 25vh;
}
.bg-16 {
    background-image: url(../images/Categorie/Connecte/4.png);
    min-height: 25vh;
}
.lien {
    display: none;
    font-size: 20px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 15px;
    cursor: pointer;
    text-decoration: none;
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover .lien, .parent:focus .lien {
    display: block;
    text-decoration: none;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}
/*fin test zoom*/

hr{
    width: 25%;
    height: 3px;
    color: red;
}
.pied{
    background-image: url(../images/footer2.png);
    background-attachment: fixed;
    height: 500px;
    background-size: cover;
    background-position: bottom;
}
.icones{
    margin: 15px;
}
footer span{
    color: white;
    font-size: 25px;
}

footer{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    
}
.titrePres{
    margin-top: 7%;
    margin-bottom: 10%;
}
.Dif-ch{
    margin-top: 7%;
    margin-bottom: 5%;
}
.sans-padding{
    padding: 0px !important;
}
.desc-foot{
    height: 12%;
}
.chang-coul1,.chang-coul2,.chang-coul3,.chang-coul4,.chang-coul5{
    color: white;
}
#coul-transp{
    background-color: rgba(0,0,0, 0);
}
.mar-topp{
    margin-top: 5%;
}